venv
build
data
dist
logs
*.egg-info

MANIFEST

.ipynb_checkpoints
.pytest_cache
.mypy_cache
third-parties

notebooks/data
notebooks/embedding-registry.json

/embedding-registry.json

launch_*.py

*.pyc
