blingfire==0.1.8
keras==2.9.0
numpy==1.22.3
pandas>=0.22.0
protobuf==3.19.6
bleach>=2.1.0
regex>=2018.2.21
tqdm>=4.21
langdetect>=1.0.7
textblob>=0.15.1
truecase==0.0.14
h5py==3.6.0
unidecode>=1.0.22
pydot>=1.2.4
keras-bert>=0.39.0,<0.85.0
jsonpickle>=1.4.1
requests==2.27.1
